#footer {
  max-width: $xxl-screen;
  margin: 10px auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;

  & > div {
    display: flex;
  }
  & .logo {
    flex-direction: column;
    flex-grow: 1;
    opacity: 0.3;
  }
  & .links {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
  & .social a{
    color: rgba(0,0,0,0);
    font-size: .1px;
    display: block;
    width: 50px;
    height: 50px;
    opacity: .5;
  }
  & .social.tw a{
    //background: url(public/images/twitter.svg) no-repeat center center / 50px 50px;
  }
  & .social.gt a{
    //background: url(public/images/github.svg) no-repeat center center / 50px 50px;
  }
}
