.header {
  width: $sz-xxl;
  margin: 20px auto 80px;
  height: 80px;

  .logo h1 a {
    background: url("/images/logo-fredfy.svg") no-repeat top left / 180px auto;
    width: 180px;
    height: 60px;
    color: rgba(0, 0, 0, 0);
    font-size: 0.1em;
    display: inline-block;
  }
}

.mr-auto,
.mx-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.navbar-nav a {
  text-transform: uppercase;
  font-size: 0.9em;
}

.navbar-nav .nav-item a {
  background: rgba(255, 255, 255, 0.9);
  color: #050b50;
  border-radius: 100px;
  text-align: center;
  width: 100px;
  height: 40px;
  padding: 8px 30px;
  &:hover {
    background: rgba(255, 255, 255, 1);
  }
}
