.ranking {

}

.table {

  padding: 20px;
  margin: 20px 0;
}

.table__header {

  display: flex;
  text-align: center;
  flex-direction: row;

  h3 {
    width: 100px;
    font-family: "Press Start 2P", Verdana, Arial;
    font-size: .8em;
    text-align: center;
    text-transform: uppercase;
    flex-grow: 1;
    padding: 15px 10px;

    &:last-child{
      font-size: 1em;
    }
  }
}

.table__body {

  display: flex;
  flex-direction: column;
}

.table__item {
  display: flex;
  text-align: center;

  h4 {
    width: 100px;
    flex-grow: 1;
    padding: 15px 10px;
    text-align: center;
  }
}

.table__item:nth-child(odd){
  background: rgba(0,0,0,0.2);
}
