.loading {
  align-items: center;
  background: #f3f3f3;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  // opacity: 0.3;
  text-align: center;
  width: 100vw;
}

#loading__logo {
  // background: lightblue;
  color: #333;
  font-family: "Bungee", Impact, Arial;
  font-size: 15rem;
  left: 50%;
  line-height: 0.7;
  // margin: 0 0 200px;
  padding: 0;
  position: absolute;
  top: 40%;
}

#loader {
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 1;
  // width: 150px;
  // height: 150px;
  margin: -75px 0 0 -75px;
  border: 26px solid #f3f3f3;
  border-radius: 50%;
  border-top: 26px solid #333;
  width: 250px;
  height: 250px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
