/* GENERAL */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html .container {
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1em;
  max-width: 100% !important;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  background: -webkit-radial-gradient(top, #07042e, #050b50);
  background: radial-gradient(at top, #07042e, #050b50);
  color: #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
}

i{
 font-style: italic;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

a {
  color: #666;
  &:hover {
    color: #222;
  }
}

/* CONTENT */

.block-content {
  width: 100%;
  min-height: 300px;
  box-sizing: border-box;
  padding: 30px 20px 50px;

  & h2 {
    font-family: "Press Start 2P", Verdana, Arial;
    font-size: 1.5em;
    text-align: center;
  }
}

.content {
  max-width: $sz-xxl;
  margin: auto;
  padding: 20px;
}

#gameover .btn,
#congrats .btn,
#world .btn,
#hero .btn,
#home .btn {
  width: 300px;
  margin: auto;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  left: 0;
}

#app {
  background-image: url("/images/bg-sky.svg");
}

// #app > div {
//   background: url("/images/yellow-stars.svg") no-repeat center center / 50% auto;
//   animation-name: sintila;
//   animation-duration: 20s;
//   animation-iteration-count: infinite;
// }

/**/
.stars {
  background: url("/images/stars.svg") no-repeat bottom center / 1000px auto;
  height: 360px;
}

.start-game a {
  background: #d8362a;
  color: #fff;
  border-radius: 100px;
  padding: 12px 80px;
  font-size: 2.4em;
  &:hover {
    background: #c0392b;
  }
}

.space-home {
  background: url("/images/spaceship-home.svg") no-repeat right center / 170px
    auto;
  width: 100%;
  height: 340px;
  position: relative;
  top: -60px;

  animation-name: sobe;
  animation-duration: 30s;

  .hi-fred {
    background: url("/images/hi-fred.svg") no-repeat 147px 2px /160px auto;
    width: 100%;
    height: 130px;
    position: relative;
    top: -20px;
    animation-name: aparece;
    animation-duration: 10s;
    animation-delay: 4s;
    opacity: 0;
  }
}

@keyframes aparece {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sintila {
  0% {
    opacity: 0;
  }
  24% {
    opacity: .5;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
  86% {
    opacity: .2;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sobe {
  0% {
    top: 80px;
  }
  100% {
    top: -60px;
  }
}

.welcome {
  margin-top: 30px;
}
.welcome p {
  text-align: center;
  font-size: 1.4em;
  margin: 20px auto;
  line-height: 1.2em;
  width: 60%;
}

.general-block{
  padding: 25px 25px 20px;
  color: #333;
  border-radius: 8px;
  width: 100%;
  margin: 30px auto 20px;
  background: #f3f3f3;

  h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin:25px 0 10px;
    color: #050b50;

    &:first-child{
      margin-top: 5px;
    }
  }

  p{
    margin-bottom: 5px;
    line-height: 1.4em;
  }

  ul{
    margin-left: 20px;
    li{
      list-style: initial;
      line-height: 1.4em;
    }
  }
}

.trans-block{
  padding: 25px 25px 20px;
  width: 100%;
  margin: 30px auto 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  a {
    display: flex;
    width: 19%;
    margin: 3% 7%;
    text-align: center;
  }
}

#world .trans-block a{
  &:hover{
    position: relative;
    top: -15px;
  }
  > div{
    width: 210px;
    height: 290px;
    margin: 0 auto;
    h2{
      display: none;
    }

    &.html{
      background: url("/images/w-html.svg") no-repeat top center / 100% auto;

      h2{
        display: block;
        width: 170px;
        height: 50px;
        background: url("/images/done.svg") no-repeat center center / 100% auto;
        position: relative;
        top: 163px;
        left: 20px;
        font-size: .1px;
        color: rgba(0,0,0,0);
      }
    }
    &.css{
      background: url("/images/w-css.svg") no-repeat top center / 100% auto;
    }
    &.javascript{
      background: url("/images/w-js.svg") no-repeat top center / 100% auto;
    }

  }
}
